{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Admin panel' %}

{% block page_content %}
    <style>
        p {
            max-width: 600px;
            font-size: large;
            color: #ba0bab;
        }
    </style>

    <p>
        Allahu akbar, rossiyane!
    </p>
{% endblock %}
